beautifulsoup4>=4.7.1
bs4>=0.0.1
cachetools>=3.0.0
certifi>=2018.11.29
chardet>=3.0.4
Click>=7.0
dateparser>=0.7.1
dnspython>=1.16.0
eventlet>=0.24.1
Flask>=1.0.2
Flask-SocketIO>=3.3.2
Flask-SQLAlchemy>=2.3.2
fuzzywuzzy>=0.17.0
googletrans>=2.4.0
grapheme>=0.4.0
greenlet>=0.4.15
idna>=2.8
itsdangerous>=1.1.0
Jinja2>=2.10
lxml>=4.3.0
MarkupSafe>=1.1.0
monotonic>=1.5
mutagen>=1.42.0
PlexAPI>=3.1.0
python-dateutil>=2.8.0
python-engineio>=3.5.0
python-Levenshtein>=0.12.0
python-socketio>=3.1.2
pytz>=2018.9
PyYAML>=3.13
regex>=2019.3.12
requests>=2.21.0
six>=1.12.0
soupsieve>=1.7.2
SQLAlchemy>=1.2.16
tqdm>=4.31.1
tzlocal>=1.5.1
urllib3>=1.24.1
wcwidth>=0.1.7
websocket-client>=0.54.0
Werkzeug>=0.14.1
wrapt>=1.11.1
