beautifulsoup4==4.6.3
blessings==1.7
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
grapheme==0.4.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
mutagen==1.41.1
pytz==2018.7
PyYAML==3.13
requests==2.20.1
six==1.11.0
SQLAlchemy==1.2.14
termcolor==1.1.0
tzlocal==1.5.1
urllib3==1.24.1
wcwidth==0.1.7
Werkzeug==0.14.1
wrapt==1.10.11
