<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{type}}</title>
    <style>
* {
    font-family: Arial, sans-serif;
    font-size: 11pt;
}
body {
    overflow: scroll;
    padding: 0;
    margin: 0;
}
.error {
    margin: auto;
    text-align: center;
    color: red;
    font-size: 25px;
}
h1, h2, h3, h4, h5, h6, h7 {
    padding-top: 10px;
    margin: auto;
    text-align: center;
}
h1 {
    font-size: 15pt;
}
    </style>
</head>
<body>
    <h1>{{type}}</h1>
    <br/><br/><br/>
    <div class="error">{{reason}}</div>
</body>
</html>
