<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="referrer" content="no-referrer" />
    <title>Music Manager</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <h1>Music Manager</h1>
    <br/>

    <form id="path_form" action="{{ url_for('process_songs') }}" method="post" autocomplete="off">
        <table id="form_wrapper" style="margin: auto; text-align: center;">
            <tr>
                <td>
                    <table id="form_table">
                        <tr>
                            <td class="form_label">Source Path:</td>
                            <td>
                                <input class="form_field" type="text" name="src_path" value="{{ form_values.get('src_path', '') }}" required />

                            </td>
                        </tr>
                        <tr>
                            <td class="form_label">Destination Path:</td>
                            <td>
                                <input class="form_field" type="text" name="dest_path" value="{{ form_values.get('dest_path', '') }}" />
                            </td>
                        </tr>
                        <tr>
                            <td class="form_label">Include OSTs</td>
                            <td>
                                <input type="checkbox" name="include_osts" value="true" {% if form_values.get('include_osts') %}checked{% endif %} />
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <input type="submit" value="Submit" style="width: 100px;"/>
                </td>
            </tr>
        </table>
    </form>

    {% if error %}
        {% if error_code %}
            <h2>{{ error_code }}</h2>
        {% endif %}
        <br/>
        <div class="error">{{ error|safe }}</div>
    {% endif %}

    {% if results %}
        <form id="updater_form" action="{{ url_for('update_songs') }}" method="post" autocomplete="off">
            <table id="updater_wrapper" style="margin: auto; text-align: center;">
                <tr>
                    <th></th>
                </tr>
                {% for row in results %}
                    <tr>
                        <td>
                            <table>
                                <tr><td>{{ row['path'] }}</td></tr>
                                <tr>
                                    <td>Album Score: {{ row['scores'].get('album') }}</td>
                                    <td>Track Score: {{ row['scores'].get('track') }}</td>
                                </tr>
                                <tr>
                                    <th>Field</th>
                                    <th>Current</th>
                                    <th>New</th>
                                </tr>
                                {% for field in row['fields'] %}
                                    <tr>
                                        <td>{{ field['name'] }}</td>
                                        <td>{{ field['original'] }}</td>
                                        <td>
                                            <input class="form_field" type="text" name="{{ row['path'] }}::{{ field['name'] }}" value="{{ field.get('new') }}" required />
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% if row['error'] %}
                                    <tr>
                                        <td>
                                            <h4>Error during processing:</h4>
                                            <pre>{{ row['error'] }}</pre>
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        <input type="submit" value="Submit" style="width: 100px;"/>
                    </td>
                </tr>
            </table>
        </form>
    {% endif %}
</body>
</html>
