* {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    padding-top: 10px;
    text-align: center;
    margin: auto;
}

td {
    padding: 0px 20px 0px 20px;
    font-size: 11pt;
}

th {
    margin: auto;
    text-align: center;
}

body {
    overflow: scroll;
    padding: 0;
    margin: 0;
}

.error {
    margin: auto;
    text-align: center;
    color: red;
    font-size: 25px;
}
