<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if title %}{{ title }}{% else %}Lyric Fetcher{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
{% block body %}
    {% if error %}
        {% if error_code %}
            <br/>
            <h2>{{ error_code }}</h2>
        {% endif %}
        <br/>
        <div class="error">{{ error|safe }}</div>
    {% endif %}
{% endblock %}
</body>
</html>
