{% extends "layout.html" %}
{% block body %}

<h1>{{ title }}</h1>
<br/>
<form id="fetcher_form" action="{{ url_for('search') }}" method="post" autocomplete="off">
    <table id="form_wrapper" style="margin: auto; text-align: center;">
        <tr>
            <td>
                <table id="lyric_fetcher_form_table">
                    <tr>
                        <td class="form_label">Query:</td>
                        <td>
                            <input class="form_field" type="text" name="q" value="{% if form_values.get('query') %}{{ form_values['query'] }}{% endif %}" required />
                        </td>
                    </tr>
                    <tr>
                        <td class="form_label">Sub-Query:</td>
                        <td>
                            <input class="form_field" type="text" name="subq" value="{% if form_values.get('sub_query') %}{{ form_values['sub_query'] }}{% endif %}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="form_label">Site:</td>
                        <td>
                            <select name="site">
                                {% for site in sites %}
                                    <option value="{{ site }}" {% if site == form_values.get('site') %}selected{% endif %}>{{ site }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="form_label">Index?</td>
                        <td>
                            <input type="checkbox" name="index" value="true" {% if form_values.get('index') %}checked{% endif %} />
                        </td>
                    </tr>

                </table>
            </td>
            <td>
                <input type="submit" value="Submit" style="width: 100px;"/>
            </td>
        </tr>
    </table>
</form>

{% if error %}
    {% if error_code %}
        <br/>
        <h2>{{ error_code }}</h2>
    {% endif %}
    <br/>
    <div class="error">{{ error|safe }}</div>
{% endif %}

{% if results %}
    <br/>
    <br/>
    <table style="margin: auto;">
        <tbody>
            <tr>
                {% if form_values.get('index') %}<th>Album</th>{% endif %}
                <th>Song</th>
            </tr>
            {% for row in results %}
                <tr>
                    {% if row.get("Album") %}<td>{{ row["Album"] }}</td>{% endif %}
                    <td><a href="{{ url_for('song', song=row['Link']) }}">{{ row["Song"] }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
